*, *::before, *::after {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #031432;
}

.first {
    background-color: #031432;
}

.options {
    width: 20%;
    padding: 1em 0em;
    margin-left: 80%; 
}


.options a {
    text-decoration: none;
    color: #aaa7ac;

}

img{
    max-width: 100%;
}


section{
    padding: 4em 0;
}




.container{
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  */
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 2em;
}

.container > *{
    flex: 1;
}

.container img{
    min-width: 250px;
}

section{
    margin: 3em 0;
}

.description{
    flex: 2;
}

.circle{
    width: 20px;
    height: 20px;
    background-color: #ffff00;
    border-radius: 10em;
}




.inputs{
}

.input{
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #3b3187;
}


button{
    background-color: #3b3187;
    padding: 1em;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: .5em;
    margin: 2em 0;
}


.grow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchors div{
    padding: 1em;
    border-radius: 10px;
}

.anchors a {
    text-decoration: none;
    border-radius: 10px;
    align-self: center;

}

.alone {
    font-size: 42px;
    text-decoration: none;
    padding: .1em .5em;
    background-color: #057afe;
    color: #d4e5ff;
    border-radius: 12px;
}

.hide{
    display: none;
}

.firstA a{
    color: #aaa7ac;
    background-color: #031432;
}

.firstA{
    padding: 1em 2em;
    background-color: #031432;
}

.items{
    width: 80%;
    margin: 0 auto;
}

@media(min-width: 800px){
nav {
    background-color: #eff6ff;
}

.anchors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.anchors div{
    padding: 1em;
}

.anchors a {
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 10px;
    align-self: center;
}

.alone {

    font-size: 42px;
    text-decoration: none;
    padding: .1em .5em;
    background-color: #057afe;
    color: #d4e5ff;
    border-radius: 12px;
}

.items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.firstA a{
    color: #aaa7ac;
    background-color: #031432;
}

.actions {
    display: flex;
    padding-top: 1em;
}

.actions img {
    height: 2em;
}

.menu-icon{
    display: none;
}

}


